
h1{
    color: rgb(205, 195, 195);
    background-color: #eeeeee;
    font-size: 40px;
}
h1:before{content:"🕰";}
h2{
    font-size: 30px;
}
td{
    font-weight: 800;
    text-decoration:underline;
    padding: 20px;
    line-height: 20px;
    text-align: left;
}
a{
    color:#ff0000;
    text-decoration:none;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
a:hover{
    color:#ff0000;
    text-decoration:underline;
}
a:active{
    color:#ffffff;
    font-weight:800;
}
.basho{
    text-align: left;
}
.migi{
    text-align:right;
}