<html lang="ja">
    <head>
        <p class = "text - [14px]">
            <h1>6月デザインといえば?</h1>
        </p>
    </head>
    <body>
        
    </body>
    <table>
        <div border ="3" style = "border: solid 1px #000000;">
            <p><div class = "text-[14px]"></div>
                <div style = "text-align : center">
                    <h3>text</h3>
                </div>
            </p>
        </div>
        <div border ="3" style = "border: solid 1px #000000;"class = "h-12">
            <p class = "text-[14px]">
             text
            </p>
        </div>
        <div border ="3" style = "border: solid 1px #000000;"class = "mt-6...">
            <p class = "text-[14px]">
             text
            </p>
        </div>
        <div border ="3" style = "border: solid 1px #000000;"class = "mr-4...">
            <p class = "text-[14px]">
             text
            </p>
        </div>
        <div border ="3" style = "border: solid 1px #000000;"class = "mb-8...">
            <p class = "text-[14px]">
             text
            </p>
        </div>
        <div border ="3" style = "border: solid 1px #000000;"class = "ml-2...">
            <p class = "text-[14px]">
             text
            </p>
        </div>
    </table>
</html>